
body {
    height: 100%;
    display: flex;
    justify-content: center   
}
.Additional_options{
    display: grid;
    height: 250px; 
}


.content{
    background-color: #f4f4f4;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 0px;
}

.tasck-input{
    width: 500px;
    height: 50px;
    font-size: 23px;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0);
    outline: 0; 
}
.tasck-block{ 
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.todoTask{
    width: 500px;
    height: 50px;
    margin-right: 0px;
    margin-left: 125px;
    margin-top: 0px;
    background-color: rgb(220, 241, 234);
}
.todo__item{
    list-style-type: none; 
}
.blokTask{
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.deleteBtn{
    width: 48px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.todoTaskActive_Every_Even{
    width: 500px;
    height: 50px;
    margin-right: 0px;
    margin-left: 125px;
    margin-top: 0px;
    border-radius: 3px;
    background-color: rgb(26, 221, 156);
}

.todoTaskActive_Every_Odd_One{
    width: 500px;
    height: 50px;
    margin-right: 0px;
    margin-left: 125px;
    margin-top: 0px;
    border-radius: 3px;
    background-color: rgb(101, 156, 238);
}

.highlight_Every_Even{
    width: auto;
    height: 50px;
}

.highlight_Every_Odd_One{
    width: auto;
    height: 50px;
}

.delete_fierst_element{
    width: auto;
    height: 50px;
}

.delete_last_element{
    width: auto;
    height: 50px
}
